.page {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &-enter,
  &-leave-to {
    opacity: 0;
  }
}
.page-title {
  &-enter-active,
  &-leave-active {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &-enter {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  &-leave-to {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  &-leave,
  &-enter-to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
.page-counter {
  &-enter-active,
  &-leave-active {
    transition: all 0.2s ease-in-out;
    // position: absolute;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
  }
}
.background-text {
  &__horizontal,
  &__vertical {
    &-enter-active,
    &-leave-active {
      transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    &-enter {
      opacity: 0;
      // clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    }
    &-leave-to {
      opacity: 0;
      // clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  }
}
.accent-title {
  &-enter-active,
  &-leave-active {
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateX(40vw);
  }
  &-leave,
  &-enter-to {
    opacity: 1;
    transform: translateX(0);
  }
}
