.page {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.5s;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
  }
}
.page-title {
  &-enter-active,
  &-leave-active {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &-enter {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  &-leave-to {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  &-leave,
  &-enter-to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.background-text {
  &__horizontal {
    &-enter-active,
    &-leave-active {
      transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    &-enter {
      clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    }
    &-leave-to {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  }
}
