@font-face {
  font-family: "Founders Grotesk";
  src: url("~assets/fonts/founders-grotesk/FoundersGrotTest-Bold.woff");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Hartwig-Schrift";
  src: url("~assets/fonts/hartwig-schrift/hartwig-schrift-webfont.woff2")
      format("woff2"),
    url("~assets/fonts/hartwig-schrift/hartwig-schrift-webfont.woff")
      format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("~assets/fonts/san-francisco/sanfranciscodisplay-medium-webfont.woff")
    format("woff");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("~assets/fonts/san-francisco/sanfranciscodisplay-bold-webfont.woff")
    format("woff");
}

.list {
  padding: 0;
  list-style-type: none;
  &--icons {
    font-weight: bold;
    line-height: 2;
    font-size: 18px;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    @include screen(sm) {
      font-size: 24px;
      grid-template-columns: repeat(3, 1fr);
    }
    .list__link {
      text-decoration: none;
      display: grid;
      grid-gap: 10px;
      grid-auto-flow: column;
      align-items: center;
      justify-content: start;
      fill: var(--color-primary);
      &:hover {
        .list__icon {
          fill: var(--color-secondary);
        }
      }
    }
  }
  &__icon {
    width: 18px;
    @include screen(sm) {
      width: 24px;
    }
  }
}
