@font-face {
  font-family: "Founders Grotesk";
  src: url("~assets/fonts/founders-grotesk/FoundersGroteskWeb-Bold.woff")
      format("woff"),
    url("~assets/fonts/founders-grotesk/FoundersGroteskWeb-Bold.woff2")
      format("woff2"),
    url("~assets/fonts/founders-grotesk/FoundersGroteskWeb-Bold.eot")
      format("embedded-opentype");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Hartwig-Schrift";
  src: url("~assets/fonts/hartwig-schrift/hartwig-schrift-webfont.woff2")
      format("woff2"),
    url("~assets/fonts/hartwig-schrift/hartwig-schrift-webfont.woff")
      format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter UI';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-named-instance: 'Regular';
  src: url("~assets/fonts/inter-ui/Inter-upright.var.woff2") format("woff2");
}
@font-face {
  font-family: 'Inter UI';
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  font-named-instance: 'Italic';
  src: url("~assets/fonts/inter-ui/Inter-italic.var.woff2") format("woff2");
}

sup {
    font-feature-settings: 'sups' 1;

}
.list {
  padding: 0;
  list-style-type: none;
  &--icons {
    font-weight: bold;
    line-height: 2;
    font-size: 18px;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    @include screen(sm) {
      font-size: 24px;
      grid-template-columns: repeat(3, 1fr);
    }
    .list__link {
      text-decoration: none;
      display: grid;
      grid-gap: 10px;
      grid-auto-flow: column;
      align-items: center;
      justify-content: start;
      fill: var(--color-primary);
      &:hover {
        .list__icon {
          fill: var(--color-secondary);
        }
      }
    }
  }
  &__icon {
    width: 18px;
    @include screen(sm) {
      width: 24px;
    }
  }
}
