.background-text {
  --translateRow1: -66%;
  --translateRow2: -200%;
  --translateRow1-init: 150;
  --translateRow2-init: -200;
  @include screen(sm) {
    --translateRow1: -66%;
    --translateRow2: 20%;
    --translateRow1-init: -66;
    --translateRow2-init: 20;
  }
  -webkit-text-stroke: 1px #d5d5d5;
  -webkit-text-fill-color: transparent;
  font-family: var(--font-sans--accent);
  font-size: 15vw;
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  pointer-events: none;
  &__horizontal {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &__vertical {
    transform-origin: 0 100%;
    display: inline-block;
    width: 270vh;
    position: absolute;
    top: 17vh;
    font-size: 100px;
    left: -50vw;
    @include screen(sm) {
      font-size: 150px;
      top: 50%;
      left: 250px;
      overflow: hidden;
      transform: rotate(90deg) translateX(-50%);
    }
  }
  &__row {
    white-space: nowrap;
    &:first-child {
      margin-bottom: -50px;
      transform: translateX(var(--translateRow1));
    }
    &:last-child {
      transform: translateX(var(--translateRow2));
    }
  }
}
