.header {
  display: grid;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  grid-template:
    "letterhead pageNumber"
    "date nav";
  justify-content: space-between;
  align-content: space-between;
  font-family: var(--font-sans--accent);
  text-transform: uppercase;
  padding: 2rem 1rem;
  line-height: 0.9;
  @include screen(md) {
    padding: 50px;
    position: fixed;
  }
  &__letterhead {
    grid-area: letterhead;
    padding-bottom: 40px;
    position: relative;
    &:after {
      content: "";
      height: 10px;
      width: 62px;
      background-color: var(--color-primary);
      display: block;
      position: absolute;
      bottom: -10px;
    }
  }
  &__accent-title {
    font-family: var(--font-blackletter);
    font-size: 48px;
    text-transform: lowercase;
    margin-top: 5px;
    overflow: hidden;
    position: absolute;
    padding: 0 0 3px;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 50px;
    z-index: 0;
    &-inner {
      bottom: 5px;
      right: 20px;
      position: absolute;
    }
    &:before {
      content: "";
      width: 10px;
      background-image: linear-gradient(
        to right,
        transparent,
        var(--color-neutral)
      );
      display: block;
      height: 100%;
      position: absolute;
      right: 10px;
      z-index: 1;
    }
  }
  &__page-number {
    grid-area: pageNumber;
    position: relative;
    text-align: right;
    padding-right: 20px;
    display: none;
    @include screen(md) {
      display: block;
    }
    &:after {
      position: absolute;
      content: "";
      width: 10px;
      height: 62px;
      background-color: var(--color-primary);
      display: block;
      right: 0;
      top: 0;
    }
  }
  &__date {
    align-items: end;
    grid-area: letterhead;
    margin-top: 30px;
    color: var(--color-secondary);
    grid-auto-flow: column;
    align-items: center;
    z-index: 1;
    @include screen(md) {
      margin-top: 0;
      align-self: end;
      color: var(--color-primary);
      display: grid;
      grid-area: date;
    }
  }
  &__nav {
    grid-area: pageNumber;
    @include screen(md) {
      grid-area: nav;
    }
  }
}

.theme-toggle {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 18px;
}
